@import "tailwindcss";

@theme {
  --color-background: #0f172a;
  --color-surface: #1e293b;
  --color-textLight: #E9F0FE; 
  
  --color-primary: #E7BC22;
  --color-secondary: #9E582C;
  --color-accent: #E83F11;

  --font-display: "Geist", sans-serif;
  --breakpoint-3xl: 120rem;
}

@font-face {
  font-family: 'Oxanium';
  src: url('@/assets/oxanium.ttf') format('truetype');
}

*, ::after, ::before {
  font-family: 'Oxanium';
}

body {
  background-color: var(--color-background);
  color: var(--color-textLight);
  font-family: var(--font-display);
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subtitle {
  @apply text-textLight text-4xl;
}
